@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

/* Universal elements*/
body,
html {
	background-color: #fafafa;
}

/* Hero */
.hero {
	padding: 0 1.5em;

	.container {
		width: 100%;

		.hero-body {
			padding: 2em 0 2em 0;
		}
	}
}

/* Meta information */
.meta {
	padding: 0 1.5em;

	.container {
		width: 100%;

		p {
			padding: 0.25em 0;
		}
	}
}

/* Columns */
.column {
	border-radius: 0.35em;
	margin: 1em 0.5em;
	text-align: center;

	.content {
		border-radius: 0.35em;
	}
}

/* Tabs */
.tabs-wrapper {
	border-radius: 0.35em;
	position: relative;
	overflow: hidden;

	.tabs {
		margin: 0;

		ul li a {
			border-bottom: 1px solid #888888;
			color: #000000;
		}

		ul li a:hover {
			color: #f5f5f5;
		}

		ul li.is-active a {
			background-color: #f5f5f5;
			border-bottom: 1px solid #f5f5f5;
			border-left: 1px solid #888888;
			border-right: 1px solid #888888;
			color: #000000;
		}

		ul li:first-child.is-active a {
			border-left: none;
			border-right: 1px solid #888888;
		}

		ul li:last-child.is-active a {
			border-bottom: 1px solid #f5f5f5;
			border-left: 1px solid #888888;
			border-right: none;
		}
	}

	.tab-content {
		display: none;
		padding: 1em;
	}

	.tab-content.is-active {
		display: block;
	}
}

/* Footer */
.footer {
	width: 100%;
}
